<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="header-container">
          <h1 id="header">Data Leaks Gates</h1>
          <nav>
            <ul class="nav-list">
              <li><a href="../post/post.html">Add post</a></li>
              <li><button id="logout">logout</button></li>
            </ul>
          </nav>
        </section>
    </header>
    <main>
      <section class="main-container">
        <div id="cities-container"></div>
      </section>
    </main>
    <script type="module" src="../../controllers/home.ts"></script>
</body>
</html>