@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    background-color: #1c1f2b;
    position: fixed;
    top: 0;
    z-index: 1000;
    opacity: 0.9;
}
/* section header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #1c1f2b;
    opacity: 0.9;
}
/* title */
#header {
    font-size: 3rem;
    color: #fff;
}
#header:hover {
    color: #6437a0;
}
/* nav */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.3s;
    position: relative;
}

a:before{
    content: '';
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 5px;
    background-color: #13ced1;
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}
a:hover:before{
    transform: scaleX(1);
    box-shadow: 0px 0px 10px #13ced1;
}

a:hover {
    color: #13ced1;

}
/* logout button */
#logout {
    background-color: #6437a0;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1rem;
}

#logout:hover {
    background-color: #13ced1;
    box-shadow: 0px 0px 10px #13ced1;
    color: #181818;
}


/* ------------------ */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-top: 4rem;
}


/* ------------ */

#post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    background-color: #1c1f2b;
    position: relative;
}

.post-div-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.post-button{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    padding: 1em 2em;
    margin: 1rem;
    border: none;
    border-radius: 100px;
    background-color: #6437a0;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.post-title {
    font-size: 1.7rem;
    color: #fff;
    margin: 1rem;
}

/* card description */
.post p {
    font-size: 1.2rem;
    color: #fff;
}

#info-button {
    width: 100%;
    padding: 1em 2em;
    margin: 1rem;
    border: none;
    border-radius: 100px;
    background-color: #6437a0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 1rem;
}

.post-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card image */

.post-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}